<div class="full-width-card" data-style="{{ include.style }}">
  <a
    {% if include.link %}
      href="{{ include.link | relative_url }}"
    {% endif %}
    aria-label="{{ include.title | default: "card link" }}"
    class="card-image"
  >
    <img
      src="{{ include.image | relative_url }}"
      alt="{{ include.title | default: "card image" }}"
      loading="lazy"
      {% include fallback.html %}
    >
  </a>

  

  <div class="card-text">
    {% if include.data.title %}
      <a
        {% if include.data.link %}
          href="{{ include.data.link | relative_url }}"
        {% endif %}
        {% if include.data.tooltip %}
          data-tooltip="{{ include.data.tooltip }}"
        {% endif %}
        class="card-title"
      >
        {{ include.data.title }}
      </a>
    {% endif %}

    {% if include.data.subtitle %}
      <span class="card-subtitle">{{ include.data.subtitle }}</span>
    {% endif %}

    {% if include.data.description %}
      <p>
        {{ include.data.description | markdownify | remove: "<p>" | remove: "</p>" }}
      </p>
    {% endif %}

    {% if include.data.tags or include.data.repo %}
      {% include tags.html tags=include.data.tags repo=include.data.repo %}
    {% endif %}
  </div>
</div>
